<div class="container">
  <h2>Pesquisar Itens</h2>

  <!-- Contêiner para alinhar o campo de pesquisa e o botão "Criar Novo Item" -->
  <div class="action-container">
    <app-search-items (search)="handleSearch($event)"></app-search-items>
    <app-create-item-button></app-create-item-button>
    <!-- Exibe os itens encontrados -->
    <app-found-items
      [items]="searchedItems"
      [searchExecuted]="searchExecuted"
      (delete)="handleDelete($event)">
    </app-found-items>
  </div>

</div>
