/* Contêiner para alinhar o campo de pesquisa e o botão "Criar Novo Item" */
.action-container {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  gap: 20px; /* Espaçamento vertical entre os elementos */
  margin-bottom: 20px; /* Espaçamento inferior */
  width: 50%; /* Define a largura do contêiner como 50% */
  align-self: center; /* Centraliza o contêiner horizontalmente */
}

/* Centraliza o título "Itens encontrados" */
.found-items-title {
  text-align: center;
  margin-top: 20px;
}

/* Ajuste do contêiner geral */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
